/*

 GTK3 Solaris-style Theme
 aka "Belle Pintos Grande"
  (its real name is actually "BIG PENIS GIGANTOS"
   but I changed it to avoid upsetting people)
 by P.M
 dusthillresident@gmail.com

 Made on a Debian Testing system with GTK3 3.22.9 installed

 Current issues:
   * some things aren't yet themed, such as 
    . some stuff
   * Some arrows may not be drawn. I still need to go through the tedious slow process of finding every single kind of arrow,
     and then working out the very specific instructions required to tell the arrows to appear,
     probably requiring trial and error and blind guessing and searching the source files to try to work out what they're doing like looking
     for a needle in a haystack because the GTK3 documentation is shit
   * checks/radios in menus/menuitems don't look right. I have a temporary solution in place which at least makes it possible to tell
     the difference between checked and unchecked, but at some point I want them to look right. 

              ########
          ####{{{{{{####
        ##{{{{{{{{{{{{##
      ##{{{{{{############
    ##{{{{{{################
    ##{{####''''''''''''####
  ########''''''##''##''##
  ##''####''''''##''##''##
##''''######''''''''''''''##
##''''''##''''##''''''''''##
  ##''''''''########''''######
    ####''''''''##########
      ######''''''''''##
    ##{{{{{{############  ####
  ##{{{{{{{{{{####{{{{####''''##
##{{{{{{######{{##{{{{{{####''##
##{{{{##''''''######{{{{{{##''##
##{{##''''''''''######{{{{####
  ####''''''''''##''''####''##
    ####''''''####''''####{{{{##
  ##{{{{################{{{{{{##
####{{##################{{{{{{##
##{{{{##################{{{{{{##
##{{{{##########      ##{{{{####
##{{{{####              ######  
  ####

*/

/* window background */
/* ================= */
dialog, window, .background {
 background-color: @bg_normal;
 color: @text_normal;
}
/* end window background */

/* normal text colour for labels */
label {
 color: @text_normal;
}


/* wildcards */
/* ========= */
/* I will try to avoid using wildcards as much as possible, and probably later on try to replace them */
/* disabled items */
/* ============== */
*:disabled {
 color: @text_dim;
/* text shadow for disabled items */
 text-shadow: 1px 1px 0px white ;
/* dim disabled icons. */
  -gtk-icon-effect: dim;
/* one day in the future this might be useful:
  -gtk-icon-filter: opacity(0.5); */
}
/* After this comment: 
  The ArrowKeysCursor/FocusedItem/MostRecentlyPressedButton/whatever/dashed line thing 
                                                     read for you by Jim Dale
    Code block copied and adapted from HighContrast
*/
/* ============= */
* {
  outline-color: currentColor;
  outline-style: dashed;
  outline-offset: -2px;
  outline-width: 1px;
  -gtk-outline-radius: 2px;
}
/* end of wildcards */

/* menus & menuitems */
/* ================= */
menuitem {
 padding: 2px 4px 2px 4px;

 color: @text_normal;
 background-color: @bg_normal;
 border-color: @bg_normal;
 border-width: 1px;
 border-style: solid;
}
/* The block after this comment is intended to have these effects:
  
  only when you're clicking on them,  
    menubar menuitems appear dimmed with inset border.
  while your mouse-pointer is positioned above them,
    menu menuitems appear dimmed with inset border.
 
 And it does what I want. But I don't know why - according to my understanding, this is what the code should ACTUALLY do:

  when your mouse is above them,
    all menuitems, wherever they are, even if they're in a menubar, appear dimmed with inset border

 It works now, but I'm worried that a GTK3 update will cause it to stop working.
 
 */
menuitem:hover {
 background-color: @bg_dim;
 color: @text_normal;
 border-color: @border_dim;
 border-style: inset;
}
/* for some reason I had to set padding to 1px for the border to become visible.*/
menu, .menu {
 border-width: 1px;
 padding: 1px;
 border-style: inset;
 border-color: darker(@border_dim);
}
/* end of menus & menuitems */



/* toolbars, menubars, statusbars */
/* ============================== */
toolbar, menubar {
 border-color: @border_normal;
 border-width: 1px;
 border-style: outset;
}
statusbar {
 color: @text_normal;
 border-width: 1px;
 border-style: inset;
 border-color: @border_normal;
}
/* end of toolbars, menubars, statusbars */



/* buttons */
/* ======= */
button, .path-bar-button {
 color: @text_normal;
 background-color: @bg_normal;
 border-color: @border_normal;
 border-width: 1px;
 border-style: outset; 
}
button:hover {
 color: @text_bright;
 background-color: @bg_bright;
 border-color: @border_bright;
}
button:active, button:checked {
 color: @text_normal; 
 background-color: @bg_dim;
 border-color: @border_dim;
 border-width: 1px;
 border-style: inset; 
}
button:disabled {
 /* line 142 - what was on this line has been moved to line 38, wildcards :disabled block */
 background-color: @bg_dim;
 border-color: @border_dim;
}
/* toolbar button */
toolbar button {
 border-color: @bg_normal;
 border-style: solid;
}
toolbar button:disabled {
 background-color: @bg_normal;
 border-color: @bg_normal;
 border-style: solid;
}
toolbar button:hover {
 border-color: @border_bright;
 border-style: outset;
}
toolbar button:active, toolbar button:checked {
 border-color: @border_dim;
 border-style: inset;  
}
/* toolbar button end */
button {
 padding: 2px 2px 2px 2px;
}
stack button {
 padding: 4px 4px 4px 4px;
}
button:checked {
 font-weight: bold;
}
/* end of buttons */



/* check & radio stuff */
/* ==================  */
/* = checks and radios inside dialogs = */
check, radio {
 margin: 1px 5px 1px 1px;
 color: @text_normal;
 border-color: @text_normal;
 background-color: @wbg_normal;
 border-width: 1px;
 border-style: solid;
}
/* = checks and radios within menus = */
/* the check/radio marks look like solid blocks rather than check marks. I don't know why. I would prefer they look like check marks,
but this is acceptable for now as long as the difference between checked and unchecked is visually clear */
menuitem check, menuitem radio {
 padding: 2px 2px 2px 2px;
 margin: 2px 6px 2px 2px; 
 background-color: @bg_normal;
 border-color: @text_normal;
 border-width: 1px; 
 border-style: solid;
}
menuitem check:checked, menuitem radio:checked {
 background-color: @text_normal;
}
menuitem:disabled check, menuitem:disabled radio {
 border-color: @text_dim;
}
menuitem:disabled check:checked, menuitem:disabled radio:checked {
 background-color: @text_dim;
}
/* end of check & radio stuff*/



/* tab stuff */
/* ========  */
stack {
 color: @text_normal;
 border-width: 1px 1px 1px 1px;
 border-color: @border_normal;
 border-style: outset;
 /*box-shadow: 1px 1px 1px 1px;*/
}
tab {
 color: @text_normal;
 border-width: 1px;
 background-color: @bg_dim;
 border-color: @border_dim;
 border-style: outset;
 padding: 2px 4px 2px 4px;
}
tab:checked {
 border-color: @border_normal;
 background-color: @bg_normal;
}
/* curved edges for tabs */
header.bottom tab {
 border-radius: 0px 0px 10px 10px;
}
header.top tab {
 border-radius: 10px 10px 0px 0px;
}
header.left tab {
 border-radius: 10px 0px 0px 10px;
}
header.right tab {
 border-radius: 0px 10px 10px 0px;
}
/* I want buttons on tabs (ie, close tab buttons) to look different from normal buttons, that's why the following four blocks are here.*/
tab button {
 border-width: 0px;
 background-color: @bg_dim;
}
tab:checked button {
 border-width: 0px;
 background-color: @bg_normal;
}
tab:hover button {
 background-color: @bg_dim;
}
tab:checked:hover button {
 background-color: @bg_normal;
}
/* end of tab stuff */



/* view, entry, sidebar stuff */
/* ========================== */
.view, .sidebar {
 color: @text_normal;
 background-color: @wbg_normal;
}
.view:selected, .sidebar:selected {
 color: @selected_text;
 background-color: @selected_bg;
}
.view text {
 color: @text_normal;
 background-color: @wbg_normal;
}
.view selection {
 color: @selected_text;
 background-color: @selected_bg;
}
entry {
 color: @text_normal;
 background-color: @wbg_normal;
 border-color: @border_normal;
 border-width: 1px;
 border-style: inset;
 padding: 1px 1px 1px 1px;
}
entry selection {
 color: @selected_text;
 background-color: @selected_bg;
}
stack {
 background-color: @bg_normal;
}
/* sidebar stuff */
.sidebar label {
 margin: 2px 2px 2px 2px;
}
.sidebar image {
 margin: 3px 3px 3px 3px;
}
.sidebar separator {
 background-color:@border_normal;
 min-width:1px;
 min-height:1px;
}
.sidebar row:selected, .sidebar row:selected label {
 color:@selected_text;
 background-color:@selected_bg;
}

/* end of view, entry, sidebar stuff */



/* separator stuff */
/* =============== */
separator {
 margin: 1px 1px 1px 1px;
}
menu separator {
 color: @border_normal;
 border-color: @border_normal;
 border-width: 1px 1px 0px 0px;
 border-style: solid;
}
toolbar separator {
 margin: 4px 4px 4px 4px;
 min-width: 1px;
 /*min-height: 1px;*/
 background-color: @border_normal;
}
/* end of separator stuff */



/* scrollbar stuff */
/* =============== */
scrollbar button {
 padding: 4px;
}
scrollbar trough {
 background-color: @bg_dim;
 border-color: @border_dim;
 border-width: 1px; 
 border-style: inset;
 padding: 0px;
}
scrollbar slider {
 background-color: @bg_normal;
 border-color: @border_normal;
 border-width: 1px;
 border-style: outset;
 padding: 5px;
}
scrollbar slider:hover {
 background-color: @bg_bright;
 border-color: @border_bright;
}
/* the following block is intended to fix a problem with firefox,
   hopefully it won't have unintended sideeffects in other programs */
scrollbar .button{
 background-color: @bg_normal;
}
scrollbar .button:hover {
 background-color: @bg_bright;
}
scrollbar .button:active{
 background-color: @bg_dim;
}
/* end of scrollbar stuff */


/* scale stuff */
/* =========== */
scale trough {
 background-color: @bg_dim;
 border-color: @border_dim;
 border-width: 1px; 
 border-style: inset;
 padding: 0px;
}
scale slider {
 background-color: @bg_normal;
 border-color: @border_normal;
 border-width: 1px;
 border-style: outset;
 padding: 5px;
}
scale slider:hover {
 background-color: @bg_bright;
 border-color: @border_bright;
}
/* for scales with marks */
scale.horizontal mark {
 background-color: @border_normal;;
 min-height:4px;
 min-width:1px;
}
scale.vertical mark {
 background-color: @border_normal;;
 min-height:1px;
 min-width:4px;
}
/* end of scale stuff */


/* tooltips */
/* ======== */
tooltip {
 background-color: @bg_normal;
 border-color: @border_dim;
 border-style: solid;
 border-width: 1px; 
}
/* end of tooltips */ 


/* client side decorations */
/* ======================= */
headerbar {
 color:@text_normal;
 background-color:@bg_normal;
}
headerbar:backdrop {
 color:@text_normal;
 background-color:@bg_dim;
}
/* end of client side decorations */


/* arrows */
/* ====== */
/* (the little arrows that you see on menu items that have sub menus.) */
/* set the minimum height and width values for the arrows */
menu menuitem arrow,
.menu menuitem arrow,
.context-menu menuitem arrow { 
 min-height: 16px;
 min-width: 16px;
}
/* now set the appropriate icons */
menu menuitem arrow:dir(ltr),
.menu menuitem arrow:dir(ltr),
.context-menu menuitem arrow:dir(ltr) {
 -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); 
 margin-left: 10px; 
}
menu menuitem arrow:dir(rtl),
.menu menuitem arrow:dir(rtl),
.context-menu menuitem arrow:dir(rtl) {
 -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl"); 
 margin-left: 10px; 
}
/* end of arrows */


/* progressbar */
/* =========== */
progressbar trough {
 background-color: @bg_dim;
 border-color: @border_dim;
 border-width: 1px; 
 border-style: inset;
 padding: 2px;
}
progressbar progress {
 background-color: @selected_bg;
 border-color: darker(@selected_bg);
 border-style: solid;
 border-width: 1px;
}
/* end of progressbar*/


/* calendar */
/* ======== */
calendar {
 background-color: @wbg_normal;
 border: 1px inset @border_normal;
}
calendar .button,
calendar .header {
 color: @text_normal;
 background-color: @bg_bright;
}
calendar .button:disabled {
 color: @border_dim;
}
calendar .highlight {
 color: @text_normal;
 background-color: @bg_bright;
}
calendar:selected {
 color: @selected_text;
 background-color: @selected_bg;
}
/* end of calendar */


/* window borders for csd windows */
/* ============================== */
decoration {
 background-color: @bg_normal;
 border-color: @border_normal;
 border-style: outset;
 border-width: 1px;
  /* this is used for the resize cursor area */
 margin: 4px;
}
decoration:backdrop {
 background-color: @bg_dim;
 border-color: @border_dim;
}
/* end of window borders for csd windows */


/* frames */
/* ====== */
frame {
 border-width: 1px;
 border-color: @border_normal;
 border-style: solid;
 padding: 2px;
}
statusbar frame {
 border-width: 0px;
 padding: 0px;
}
viewport {
 border-width: 1px;
 border-color: @border_normal;
 border-style: solid;
}
/* end of frames */


/* spinner */
/* ======= */
spinner {
 color: @bg_normal;
}
spinner:checked {
 color: @text_normal;
}
/* end of spinner */


/* popover */
popover {
 border-color: @border_normal;
 border-style:solid;
 border-width:1px;
}
popover separator {
 margin: 4px;
 min-width:1px;
 min-height:1px;
 background-color: @border_normal;
} 
/* end of popover */


/* infobars */
infobar {
 border-width:1px;
 border-style:outset;
 border-color:@border_normal;
}
infobar.error {
 color:black;
 background-color: #ff7777;
 border-color:darker(#ff7777);
}
/* end of infobars*/


/* fucking stack sidebars */
/*
 The documentation is almost useless. All it says is 'GtkStackSidebar has a single CSS node with name stacksidebar and style class .sidebar'. It says absolutely nothing about the 'row' stuff, I had to work that out by looking through existing GTK3 CSS files, and the 'viewport' thing was a complete blind guess that happened to work.
 Making this theme has required a ton of bullshit like that. And it was much like that in the past the four or so previous times I had to rewrite my theme from scratch because they kept breaking theming. I sincerely hope that in the future, GTK and GNOME will be dead and everyone will be using Qt, or at least something else that isn't deliberately designed to frustrate customisation. 
*/
stacksidebar viewport {
 border-width:1px; 
 border-style:solid;
 border-color:@border_normal;
 background-color:@wbg_normal;
}
stacksidebar row {
 padding: 3px;
 background-color: @wbg_normal;
}
stacksidebar row:selected {
 color: @selected_text;
 background-color: @selected_bg;
}
stacksidebar row:selected label {
 color: @selected_text;
}
/* end of fucking stack sidebars */


/* 'assistant' sidebar */
/* this is something that visually looks the same as the 'stack sidebar' but for some reason (that is, absolutely no reason at all) it has to be treated completely differently, requiring yet more wasted time trying to work out how the fuck you're supposed to theme it. */
assistant .sidebar label {
 padding: 4px 2px 4px 2px;
}
assistant .sidebar label.highlight {
 background-color: @selected_bg; 
 color:@selected_text;
}
assistant .sidebar {
 border-width:1px;
 border-style:solid;
 border-color:@border_normal;
}
/* end of 'assistant' sidebar */


/* expander */
/* more bullshit that required yet more blind guessing, examining other theme source code to try to work out what the fuck it's doing, trial and error, and wasted time */
expander arrow {
 color:@text_normal;
 min-width:16px;
 min-height:16px;
 -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}
expander arrow:dir(rtl) {
 -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}
expander arrow:checked {
 -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
expander .frame {
 border-width: 1px;
 border-color: @border_normal;
 border-style: solid;
}
/* expander */


/* combobox arrow */
/* maybe later replace this with a block that works with all arrows everywhere */
combobox arrow {
 min-width:16px;
 min-height:16px;
 -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
/* end combobox arrow */


/* modelbutton stuff */
modelbutton {
 padding: 2px;
}
modelbutton:hover {
 background-color: @bg_bright;
}
modelbutton:active {
 background-color: @bg_dim;
}
/* end modelbutton stuff */

/* switch stuff */
switch slider{
 border-style:outset;
 border-width:1px;
 border-color:@border_normal;
 background-color: @bg_normal;
}
switch {
 border-style:inset;
 border-width:1px;
 border-color:@border_normal;
 background-color:@bg_dim;
}
switch:checked {
 color:@selected_text;
 background-color:@selected_bg;
}
/* end switch stuff */


/* sourceview (found in Mousepad) */
.sourceview {
 color: @text_normal;
 background-color: @bg_normal;
}
/* end of sourceview */


/* Mouse click and drag selection rectangle */
/* which took me over an hour to find because it has a retarded name like 'rubberband' or something */
/* special thanks to the gnome project for wasting my time and fucking everything up for the past 9 years. */
/* assholes*/
.rubberband, rubberband, flowbox rubberband, treeview.view rubberband, .content-view rubberband, .content-view .rubberband {
border: 1px solid @selected_bg; 
background-color: rgba(255,255,255,0.25);
 opacity: 0.25;
}


/* ============================================================= */
/* beyond this line: stuff that isn't tested yet */


/* levelbar */
/* ======== */
levelbar trough {
 background-color: @bg_dim;
 border-color: @border_dim;
 border-width: 1px; 
 border-style: inset;
 padding: 2px;
}
levelbar .filled {
 background-color: @selected_bg;
 border-color: darker(@selected_bg);
 border-style: solid;
 border-width: 1px;
 padding: 2px;
}
/* end of levelbar */


/* some fixed for MATE contributed by dingdongthevacuumman.
 I'm unable to verify if this works because I don't use MATE. */
/* multimedia OSD */
MsdOsdWindow.background.osd {
border-radius: 20px;
border-style: solid;
border-width: 1px;
border-color: rgba(0,0,0,0.6);
background-image: linear-gradient(to bottom,
@osd_toolbar_bg_a,
@osd_toolbar_bg_b 63%,
@osd_toolbar_bg_c);
}

MsdOsdWindow.background.osd .trough {
background-color: @osd_trough_bg;
border-radius: 3px;
border-width: 1px;
border-color: rgba(0,0,0,0.6);
}

MsdOsdWindow.background.osd .progressbar {
border-width: 1px;
border-radius: 3px;
border-color: rgba(0,0,0,0.4);
background-color: alpha(shade(@theme_selected_bg_color, 1.0), 0.9);
}
/* end of mate stuff */





