/* Zukitwo colors */
@define-color toolbar_gradient_base @bg_color;  /* <-! window background */
@define-color toolbar_gradient_final @bg_color;  /* <-! window background */
@define-color toolbar_border @bg_color;  /* <-! window background */
@define-color menubar_color @bg_color;  /* <-! window background */  

/* other color schemes could simply override these */
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

/* "weird" colors */
@define-color info_fg_color #B5AB9C;
@define-color info_bg_color #FCFCBD;
@define-color warning_fg_color #AD7829;
@define-color warning_bg_color #FAAD3D;
@define-color question_fg_color #617AD6;
@define-color question_bg_color #8AADD4;
@define-color error_fg_color #A62626;
@define-color error_bg_color #ED3636;
@define-color error_color #cc0000;
@define-color dark_bg_color #3f3f3f;
@define-color dark_fg_color #e0e0e0;
@define-color transparent rgba (0, 0, 0, 0);

/* default */
* {
  -GtkArrow-arrow-scaling: 0.6;
  -GtkButton-child-displacement-x: 1;
  -GtkButton-child-displacement-y: 1;
  -GtkButton-default-border: 0;
  -GtkButton-image-spacing: 0;
  -GtkButton-interior-focus: true;
  -GtkButton-inner-border: 2;
  -GtkCheckButton-indicator-size: 16;
  -GtkCheckMenuItem-indicator-size: 14;
  -GtkEntry-inner-border: 2;
  -GtkEntry-progress-border: 0;
  -GtkExpander-expander-size: 8;
  -GtkHTML-link-color: @link_color;
  -GtkIMHtml-hyperlink-color: @link_color;
  -GtkMenu-horizontal-padding: 0;
  -GtkMenu-vertical-padding: 0;  
  -GtkMenuBar-internal-padding: 0;
  -GtkMenuItem-arrow-scaling: 0.5;
  -GtkNotebook-tab-overlap: 1;
  -GtkPaned-handle-size: 4;
  -GtkProgressBar-min-horizontal-bar-height: 10;
  -GtkProgressBar-min-vertical-bar-width: 10;
  -GtkRange-trough-border: 1;
  -GtkRange-slider-width: 11;
  -GtkRange-stepper-size: 13;
  -GtkRange-trough-under-steppers: 1;
  -GtkRange-stepper-spacing: 0;
  -GtkScale-trough-border: 0;
  -GtkScrollbar-activate-slider: 1;
  -GtkScrollbar-trough-border: 0;
  -GtkScrollbar-min-slider-length: 31;
  -GtkScrolledWindow-scrollbar-spacing: 0;
  -GtkScrolledWindow-scrollbars-within-bevel: 1;
  -GtkSeparatorMenuItem-horizontal-padding: 0;
  -GtkStatusbar-shadow-type: none;
  -GtkTextView-error-underline-color: @error_color;
  -GtkToolButton-icon-spacing: 6;
  -GtkToolItemGroup-expander-size: 11;
  -GtkToolbar-internal-padding: 0;
  -GtkTreeView-expander-size: 4;
  -GtkTreeView-vertical-separator: 0;
  -GtkWidget-wide-separators: true;
  -GtkWidget-separator-width: 2;
  -GtkWidget-separator-height: 2;
  -GtkWidget-focus-padding: 0;
  -GtkWidget-focus-line-width: 1;
  -GtkWidget-link-color: @link_color;
  -GtkWidget-visited-link-color: @visited_link_color;
  -GtkWindow-resize-grip-default: false;
  -GtkWindow-resize-grip-width: 0;
  -GtkWindow-resize-grip-height: 0;
  -WnckTasklist-fade-overlay-rect: 0;

  border-width: 1;
  
  engine: unico;
  -unico-focus-border-color: alpha (@selected_bg_color, 0.5);
  -unico-focus-border-radius: 2;
  -unico-focus-fill-color: alpha (@selected_bg_color, 0.1);
  -unico-focus-outer-stroke-color: @transparent;
  -unico-inner-stroke-color: shade (@bg_color, 1.1);
  -unico-inner-stroke-width: 0;
}

/**********
 * states *
 **********/
*:insensitive {
  color: shade (@bg_color, 0.6);
  text-shadow: 0 1 alpha (shade (@bg_color, 1.25), 0.5);
}

*:active {
  background-color: shade (@bg_color, 0.915);
}

*:active:hover:insensitive {
}

*:active:insensitive {
}

*:hover {
  background-color: shade (@bg_color, 1.02);
}

*:hover:insensitive {
}

*:selected {
  background-color: @selected_bg_color;
  color: @selected_fg_color;
}

*:selected:focused {
  background-color: @selected_bg_color;
  color: @selected_fg_color;
}

/******************
 * common effects *
 ******************/
/* border and inner stroke */
.button,
.frame,
.notebook {
  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.7)),
    to (shade (@bg_color, 0.7)));
}

.frame,
.notebook {
  -unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.2);
  -unico-inner-stroke-gradient: none;
  -unico-inner-stroke-width: 1;
}

.button:insensitive,
.frame:insensitive,
.notebook:insensitive {
  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.8)),
    to (shade (@bg_color, 0.8)));
}

/* inset */
GtkComboBox.combobox-entry .button,
.button:active,
.button:insensitive,
.check,
.entry,
.radio {
  -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (alpha (shade (@bg_color, 0.85), 0.2)),
    to (alpha (shade (@bg_color, 1.18), 0.6)));
  -unico-outer-stroke-width: 1;
}

/* shadow */
.button,
.check:active,
.frame,
.notebook .button,
.notebook,
.radio:active {
  -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (alpha (shade (@bg_color, 0.05), 0.05)),
    to (alpha (shade (@bg_color, 0.05), 0.09)));
  -unico-outer-stroke-width: 1;
}

/*************
 * assistant *
 *************/
GtkAssistant .sidebar .highlight {
  color: @fg_color;
  font: bold;
}

GtkAssistant .sidebar {
  background-color: shade (@bg_color, 0.97);
  border-right-color: shade (@bg_color, 0.8);
  border-radius: 0;
  border-style: solid;
  border-width: 0 1 0 0;
  padding: 12;

  color: mix (@fg_color, @bg_color, 0.40);
  text-shadow: 0 1 shade (@bg_color, 1.04);

  -unico-border-gradient: none;
  -unico-inner-stroke-right-color: shade (@bg_color, 0.94);
  -unico-inner-stroke-width: 0 1 0 0;
  -unico-outer-stroke-width: 0;
}

/**************
 * background *
 **************/
.background {
  background-color: @bg_color;
  border-width: 0;
}

/**********
 * button *
 **********/
.button {
  -unico-focus-border-color: alpha (@selected_bg_color, 0.7);
  -unico-focus-fill-color: @transparent;
  -unico-focus-outer-stroke-color: alpha (@selected_bg_color, 0.2);
}

GtkComboBox,
.button {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@button_bg_color, 1.1)),
    to (shade (@button_bg_color, 0.95)));
  border-radius: 2;
  border-style: solid;

  text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.7)),
    to (shade (@bg_color, 0.6)));
  -unico-glow-radius: 0;
  -unico-inner-stroke-color: shade (@bg_color, 1.9);
  -unico-inner-stroke-width: 1 1 0 1;
}

GtkScale.slider {
  -unico-outer-stroke-width: 1;
  -unico-outer-stroke-color: shade (@bg_color, 0.94);
}

GtkScale.slider:hover,
.button:hover {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@button_bg_color, 1.2)),
    to (shade (@button_bg_color, 1.04)));
}

.button:active {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.9)),
    to (shade (@bg_color, 0.85)));

  -unico-focus-outer-stroke-color: @transparent;
  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.6)),
    to (shade (@bg_color, 0.6)));
  -unico-glow-radius: 0;
  -unico-inner-stroke-color: shade (@bg_color, 0.8);
  -unico-inner-stroke-width: 1 1 0 1;
}

.button:active:hover {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.95)),
    to (shade (@bg_color, 0.9)));

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.6)),
    to (shade (@bg_color, 0.6)));
  -unico-inner-stroke-color: shade (@bg_color, 0.85);
}

.button:insensitive {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@button_insensitive_bg_color, 1.04)),
    to (shade (@button_insensitive_bg_color, 0.98)));

  text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@button_insensitive_bg_color, 0.7)),
    to (shade (@button_insensitive_bg_color, 0.8)));
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@button_insensitive_bg_color, 1.1)),
    to (shade (@button_insensitive_bg_color, 1.1)));
  -unico-inner-stroke-width: 1 1 0 1;
}

.button:insensitive:active {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@button_insensitive_bg_color, 1.0)),
    to (shade (@button_insensitive_bg_color, 0.97)));

  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@button_insensitive_bg_color, 0.95)),
    to (shade (@button_insensitive_bg_color, 0.98)));
}

GtkComboBox.combobox-entry .button,
GtkScale.slider,
GtkScale.slider.vertical,
.notebook .button,
.inline-toolbar.toolbar .button {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@button_bg_color, 1.1)),
    to (shade (@button_bg_color, 0.95)));
  border-top-color: shade (@bg_color, 0.82);
  border-right-color: shade (@bg_color, 0.78);
  border-bottom-color: shade (@bg_color, 0.64);
  border-left-color: shade (@bg_color, 0.78);
  padding: 1;

  text-shadow: 0 1 alpha (shade (@bg_color, 1.26), 0.5);

  -unico-border-gradient: none;
  -unico-glow-radius: 0;
  -unico-inner-stroke-color: shade (@bg_color, 1.9);
}

GtkComboBox.combobox-entry .button:hover,
GtkScale.slider:hover,
GtkScale.slider.vertical:hover,
.notebook .button:hover,
.inline-toolbar.toolbar .button:hover {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@button_bg_color, 1.2)),
    to (shade (@button_bg_color, 1.04)));
  border-top-color: shade (@bg_color, 0.85);
  border-right-color: shade (@bg_color, 0.82);
  border-bottom-color: shade (@bg_color, 0.67);
  border-left-color: shade (@bg_color, 0.82);

  -unico-border-gradient: none;
  -unico-glow-color: shade (@bg_color, 1.07);
  -unico-inner-stroke-color: shade (@bg_color, 1.9);
}

GtkComboBox.combobox-entry .button:active,
.notebook .button:active,
.inline-toolbar.toolbar .button:active {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.9)),
    to (shade (@bg_color, 0.85)));
  border-top-color: shade (@bg_color, 0.62);
  border-right-color: shade (@bg_color, 0.72);
  border-bottom-color: shade (@bg_color, 0.76);
  border-left-color: shade (@bg_color, 0.72);

  -unico-border-gradient: none;
  -unico-inner-stroke-color: shade (@bg_color, 0.8);
}

GtkComboBox.combobox-entry .button:active:hover,
.notebook .button:active:hover,
.inline-toolbar.toolbar .button:active:hover {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.95)),
    to (shade (@bg_color, 0.9)));
  border-top-color: shade (@bg_color, 0.64);
  border-right-color: shade (@bg_color, 0.74);
  border-bottom-color: shade (@bg_color, 0.79);
  border-left-color: shade (@bg_color, 0.74);

  -unico-border-gradient: none;
  -unico-inner-stroke-color: shade (@bg_color, 0.85);
}

GtkComboBox.combobox-entry .button:insensitive,
.notebook .button:insensitive,
.inline-toolbar.toolbar .button:insensitive {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@button_insensitive_bg_color, 1.04)),
    to (shade (@button_insensitive_bg_color, 0.98)));
  border-top-color: shade (@bg_color, 0.86);
  border-right-color: shade (@bg_color, 0.86);
  border-bottom-color: shade (@bg_color, 0.86);
  border-left-color: shade (@bg_color, 0.9);

  -unico-border-gradient: none;
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@button_insensitive_bg_color, 1.1)),
    to (shade (@button_insensitive_bg_color, 1.1)));
}

/* default button */
.button.default {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (mix (shade (@selected_bg_color, 1.1), @bg_color, 0.3)),
    to (mix (shade (@selected_bg_color, 0.95), @bg_color, 0.3)));

  text-shadow: 0 1 alpha (shade (@selected_bg_color, 1.26), 0.4);

  -unico-focus-border-color: @transparent;
  -unico-focus-outer-stroke-color: alpha (@selected_bg_color, 0.2);

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (mix (shade (@selected_bg_color, 0.7), @bg_color, 0.3)),
    to (mix (shade (@selected_bg_color, 0.54), @bg_color, 0.3)));
  -unico-glow-color: mix (shade (@selected_bg_color, 1.5), @bg_color, 0.3);
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (mix (shade (@selected_bg_color, 1.38), @bg_color, 0.3)),
    to (mix (shade (@selected_bg_color, 1.24), @bg_color, 0.3)));
  -unico-inner-stroke-width: 1 1 0 1;
}

.button.default:hover {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (mix (shade (@selected_bg_color, 1.2), @bg_color, 0.3)),
    to (mix (shade (@selected_bg_color, 1.04), @bg_color, 0.3)));

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (mix (shade (@selected_bg_color, 0.7), @bg_color, 0.3)),
    to (mix (shade (@selected_bg_color, 0.54), @bg_color, 0.3)));
  -unico-glow-color: mix (shade (@selected_bg_color, 1.5), @bg_color, 0.3);
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (mix (shade (@selected_bg_color, 1.38), @bg_color, 0.3)),
    to (mix (shade (@selected_bg_color, 1.24), @bg_color, 0.3)));
}

.button.default:active {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (mix (shade (@selected_bg_color, 0.9), @bg_color, 0.3)),
    to (mix (shade (@selected_bg_color, 0.8), @bg_color, 0.3)));

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (mix (shade (@selected_bg_color, 0.7), @bg_color, 0.3)),
    to (mix (shade (@selected_bg_color, 0.7), @bg_color, 0.3)));
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (mix (shade (@selected_bg_color, 0.77), @bg_color, 0.3)),
    to (mix (shade (@selected_bg_color, 0.77), @bg_color, 0.3)));
}

.button.default:active:hover {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (mix (shade (@selected_bg_color, 0.98), @bg_color, 0.3)),
    to (mix (shade (@selected_bg_color, 0.88), @bg_color, 0.3)));

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (mix (shade (@selected_bg_color, 0.7), @bg_color, 0.3)),
    to (mix (shade (@selected_bg_color, 0.7), @bg_color, 0.3)));
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (mix (shade (@selected_bg_color, 0.82), @bg_color, 0.3)),
    to (mix (shade (@selected_bg_color, 0.82), @bg_color, 0.3)));
}

.button.default:insensitive {
  -unico-glow-radius: 0;
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@button_insensitive_bg_color, 1.08)),
    to (shade (@button_insensitive_bg_color, 1.0)));
}

/****************
 * cell and row *
 ****************/
.cell {
  border-radius: 0;
  border-width: 0;
}

.cell:selected {
}

row:hover {
}

row:insensitive {
}

row:selected:focused {
  border-width: 1 0 0 0;
  border-style: solid;
  border-color: shade (@selected_bg_color, 0.85);
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@selected_bg_color, 1.0)),
    to (shade (@selected_bg_color, 0.85)));
}

row:selected {
  border-width: 1 0 0 0;
  border-style: solid;
  border-color: shade (@selected_bg_color, 0.85);
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@selected_bg_color, 1.0)),
    to (shade (@selected_bg_color, 0.85)));
}

/*******************
 * check and radio *
 *******************/
.check row:selected,
.radio row:selected,
.check,
.check row,
.radio,
.radio row {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@base_color, 0.96)),
    to (@base_color));
  border-top-color: shade (@bg_color, 0.64);
  border-right-color: shade (@bg_color, 0.76);
  border-bottom-color: shade (@bg_color, 0.82);
  border-left-color: shade (@bg_color, 0.76);
  border-style: solid;
  border-width: 1;

  -unico-border-gradient: none;
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (alpha (shade (@bg_color, 0.05), 0.06)),
    to (alpha (shade (@bg_color, 0.05), 0.03)));
  -unico-inner-stroke-width: 1;
}

.check,
.check row {
  border-radius: 2;
}

.radio,
.radio row {
  border-radius: 10;
}

.check:active,
.check row:selected:active,
.check row:selected:focused:active,
.notebook .check:active,
.notebook .radio:active,
.radio:active,
.radio row:selected:active,
.radio row:selected:focused:active {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@selected_bg_color, 1.2)),
    color-stop (0.5, shade (@selected_bg_color, 1.0)),
    to (shade (@selected_bg_color, 0.9)));

  -unico-bullet-color: shade (@selected_bg_color, 0.535);
  -unico-bullet-outline-color: shade (@selected_bg_color, 1.2);

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@selected_bg_color, 0.7)),
    to (shade (@selected_bg_color, 0.7)));
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@selected_bg_color, 1.3)),
    to (shade (@selected_bg_color, 1.06)));
  -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (alpha (shade (@bg_color, 0.05), 0.02)),
    to (alpha (shade (@bg_color, 0.05), 0.06)));
  -unico-outer-stroke-width: 1;
}

.check:active:hover,
.check row:selected:active:hover,
.check row:selected:focused:active:hover,
.notebook .check:active:hover,
.notebook .radio:active:hover,
.radio:active:hover,
.radio row:selected:active:hover,
.radio row:selected:focused:active:hover {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@selected_bg_color, 1.26)),
    color-stop (0.5, shade (@selected_bg_color, 1.05)),
    to (shade (@selected_bg_color, 0.95)));

  -unico-bullet-color: shade (@selected_bg_color, 0.56);
  -unico-bullet-outline-color: shade (@selected_bg_color, 1.26);

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@selected_bg_color, 0.74)),
    to (shade (@selected_bg_color, 0.74)));
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@selected_bg_color, 1.37)),
    to (shade (@selected_bg_color, 1.12)));
}

.check row:selected,
.check row:selected:active,
.check row:selected:focused,
.check row:selected:focused:active,
.radio row:selected,
.radio row:selected:active,
.radio row:selected:focused,
.radio row:selected:focused:active {
  -unico-outer-stroke-color: @transparent;
  -unico-outer-stroke-gradient: none;
}

.check:insensitive,
.radio:insensitive {
  background-color: shade (@bg_color, 0.96);
  background-image: none;
}

.check:insensitive:active,
.radio:insensitive:active {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.96)),
    to (shade (@bg_color, 0.9)));

  -unico-bullet-color: shade (@bg_color, 0.6);
  -unico-bullet-outline-color: shade (@bg_color, 1.0);

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.8)),
    to (shade (@bg_color, 0.7)));
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 1.0)),
    to (shade (@bg_color, 0.94)));
}

/*****************
 * column-header *
 *****************/
column-header .button,
column-header .button:active,
.notebook column-header .button,
.notebook column-header .button:active {
  -GtkButton-inner-border: 0;
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color,1.1)),
    to (shade (@bg_color,1.0)));
  border-radius: 0;
  border-width: 0;

  -unico-focus-border-radius: 0;
  -unico-focus-border-color: @transparent;
  -unico-focus-fill-color: alpha (@selected_bg_color, 0.2);
  -unico-focus-outer-stroke-color: @transparent;

  -unico-glow-radius: 0;
  -unico-outer-stroke-width: 0;
}

column-header .button,
.notebook column-header .button {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color,1.1)),
    to (shade (@bg_color,1.0)));

  text-shadow: 0 1 alpha (shade (@bg_color, 1.25), 0.4);

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color,1.1)),
    to (shade (@bg_color,1.0)));
  -unico-glow-color: shade (@bg_color, 1.02);
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color,1.2)),
    to (shade (@bg_color,0.94)));
  -unico-inner-stroke-width: 1 0 1 0;
  border-width: 0;
}

column-header .button:hover,
.notebook column-header .button:hover {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color,1.2)),
    to (shade (@bg_color,1.1)));

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color,1.1)),
    to (shade (@bg_color,1.0)));
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color,1.24)),
    to (shade (@bg_color,0.98)));
  -unico-inner-stroke-width: 1 0 1 0;
}

column-header:nth-child(last) .button {
  border-width: 0;
}

/******************
 * combobox entry *
 ******************/
.primary-toolbar GtkComboBox.combobox-entry .entry,
.primary-toolbar GtkComboBox.combobox-entry .entry:active,
.primary-toolbar GtkComboBox.combobox-entry .entry:focused,
.primary-toolbar GtkComboBox.combobox-entry .entry:insensitive,
GtkComboBox.combobox-entry .entry,
GtkComboBox.combobox-entry .entry:active,
GtkComboBox.combobox-entry .entry:focused,
GtkComboBox.combobox-entry .entry:insensitive {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-width: 1 0 1 1;

  -unico-outer-stroke-width: 1 0 1 1;
}

.primary-toolbar GtkComboBox.combobox-entry .button,
.primary-toolbar GtkComboBox.combobox-entry .button:hover,
.primary-toolbar GtkComboBox.combobox-entry .button:active,
.primary-toolbar GtkComboBox.combobox-entry .button:insensitive,
GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button:hover,
GtkComboBox.combobox-entry .button:active,
GtkComboBox.combobox-entry .button:insensitive {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-width: 1 1 1 1;

  -unico-outer-stroke-width: 1 1 1 0;
}

GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button:hover,
GtkComboBox.combobox-entry .button:active,
GtkComboBox.combobox-entry .button:insensitive {
  border-top-color: shade (@bg_color, 0.64);
  border-right-color: shade (@bg_color, 0.8);
  border-bottom-color: shade (@bg_color, 0.86);
  border-left-color: shade (@bg_color, 0.76);
}

/*********
 * entry *
 *********/
.entry {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@base_color, 0.98)),
    to (@base_color));
  border-top-color: shade (@bg_color, 0.64);
  border-right-color: shade (@bg_color, 0.76);
  border-bottom-color: shade (@bg_color, 0.82);
  border-left-color: shade (@bg_color, 0.76);
  border-radius: 2;
  border-style: solid;

  -unico-border-gradient: none;
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (alpha (shade (@bg_color, 0.05), 0.04)),
    to (alpha (shade (@bg_color, 0.05), 0.02)));
  -unico-inner-stroke-width: 1;
}

.entry:selected,
.entry:selected:focused {
  background-color: @selected_bg_color;
  color: @selected_fg_color;
}

.entry:focused {
  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@selected_bg_color, 0.75)),
    to (shade (@selected_bg_color, 0.8)));
  -unico-inner-stroke-color: alpha (@selected_bg_color, 0.3);
  -unico-inner-stroke-gradient: none;
}

.entry:insensitive {
  background-color: shade (@bg_color, 0.96);
  background-image: none;

  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (alpha (shade (@bg_color, 0.05), 0.04)),
    to (alpha (shade (@bg_color, 0.05), 0.02)));
}

.primary-toolbar .toolbar .entry.progressbar,
.primary-toolbar.toolbar .entry.progressbar,
.entry.progressbar {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@selected_bg_color, 0.8)),
    color-stop (0.1, shade (@selected_bg_color, 0.9)),
    to (shade (@selected_bg_color, 1.1)));
  border-radius: 2;
  border-width: 0;

  color: @selected_fg_color;

  -unico-outer-stroke-width: 0;
}

/************
 * expander *
 ************/
.expander {
  color: @fg_color;
}

/*********
 * frame *
 *********/
.frame {
  border-radius: 2;
  -unico-outer-stroke-width: 0;
}

/************
 * iconview *
 ************/
GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focused {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@selected_bg_color, 1.0)),
    to (shade (@selected_bg_color, 0.9)));
  border-radius: 2;
  border-style: solid;
  border-width: 1;

  color: @selected_fg_color;

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@selected_bg_color, 0.7)),
    to (shade (@selected_bg_color, 0.7)));
  -unico-glow-radius: 0;
  -unico-glow-color: shade (@selected_bg_color, 1.3);
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@selected_bg_color, 1.2)),
    to (shade (@selected_bg_color, 1.08)));
  -unico-inner-stroke-width: 1;
}

.rubberband {
  background-color: alpha (@selected_bg_color, 0.35);
  border-color: @selected_bg_color;
  border-radius: 0;
  border-style: solid;
  border-width: 1;
}

/***********
 * infobar *
 ***********/
.info {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@info_bg_color, 1.04)),
    to (shade (@info_bg_color, 0.96)));
  border-style: solid;
  border-width: 1;

  color: @info_fg_color;

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@info_bg_color, 0.8)),
    to (shade (@info_bg_color, 0.75)));
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@info_bg_color, 1.1)),
    to (shade (@info_bg_color, 1.04)));
  -unico-inner-stroke-width: 1;
}

.warning {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@warning_bg_color, 1.04)),
    to (shade (@warning_bg_color, 0.96)));
  border-style: solid;
  border-width: 1;

  color: @warning_fg_color;

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@warning_bg_color, 0.8)),
    to (shade (@warning_bg_color, 0.75)));
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@warning_bg_color, 1.1)),
    to (shade (@warning_bg_color, 1.04)));
  -unico-inner-stroke-width: 1;
}

.question {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@question_bg_color, 1.04)),
    to (shade (@question_bg_color, 0.96)));
  border-style: solid;
  border-width: 1;

  color: @question_fg_color;

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@question_bg_color, 0.8)),
    to (shade (@question_bg_color, 0.75)));
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@question_bg_color, 1.1)),
    to (shade (@question_bg_color, 1.04)));
  -unico-inner-stroke-width: 1;
}

.error {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@error_bg_color, 1.04)),
    to (shade (@error_bg_color, 0.96)));
  border-style: solid;
  border-width: 1;

  color: @error_fg_color;

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@error_bg_color, 0.8)),
    to (shade (@error_bg_color, 0.75)));
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@error_bg_color, 1.1)),
    to (shade (@error_bg_color, 1.04)));
  -unico-inner-stroke-width: 1;
}

/********
 * menu *
 ********/
.menu {
  padding: 0;
  background-color: @menubar_color;
  color: @fg_color;
  border-style: solid;
  border-width: 0;

  -unico-inner-stroke-color: shade (@menubar_color, 0.86);
  -unico-inner-stroke-gradient: none;
  -unico-inner-stroke-width: 1;
}

.menu:selected {
  background-color: @selected_bg_color;
}

.menu.button:hover,
.menu.button:active,
.menu.button:active:insensitive,
.menu.button:insensitive,
.menu.button {
  background-color: shade (@menubar_color, 1.08);
  border-radius: 0;
  border-style: none;
  border-width: 1;
  color: @fg_color;

  -unico-border-gradient: none;
  -unico-glow-radius: 0;
  -unico-inner-stroke-width: 0;
  -unico-outer-stroke-width: 0;
}

/***********
 * menubar *
 ***********/
.menubar {
  -GtkWidget-window-dragging: true;
  color: @fg_color;
  text-shadow: none;
  background-image: -gtk-gradient (linear,left top,left bottom,
    from (@menubar_color),
    to (@menubar_color));
  border-width: 0;
  border-style: none;
}

/***************
 * menubaritem *
 ***************/
.menubar.menuitem,
.menubar .menuitem {
  border-radius: 0;
  border-width: 1;
  color: @fg_color;
}

.menubar.menuitem:hover,
.menubar .menuitem *:hover {
  color: @fg_color;
  text-shadow: none;
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@menubar_color, 1.7)),
    to (shade (@menubar_color, 1.0)));
  border-width: 1;
  border-style: solid;
  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@menubar_color, 1.8)),
    to (shade (@menubar_color, 1.0)));
}

.menubar.menuitem:insensitive,
.menubar .menuitem *:insensitive {
  color: shade (@bg_color, 0.75);
  text-shadow: none;
}

/************
 * menuitem *
 ************/
.menuitem {
  padding: 3;
  border-radius: 0;
  text-shadow: none;
  border-style: solid;
  border-width: 0;
  color: @fg_color;
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 1.0)),
    to (shade (@bg_color, 0.85)));
  -unico-bullet-color: @dark_fg_color;
}

.menuitem:hover,
.menuitem *:hover {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 1.0)),
    to (shade (@bg_color, 0.85)));
  color: @fg_color;
  text-shadow: none;
  -unico-bullet-color: @dark_fg_color;
  border-style: solid;
  border-width: 0;
}

.menuitem:insensitive,
.menuitem *:insensitive {
  color: shade (@bg_color, 0.75);
  text-shadow: none;
}

.menuitem.check:active,
.menuitem.radio:active {
  color: @fg_color;
  -unico-bullet-color: @fg_color;
}

.menuitem.check:active:hover,
.menuitem.radio:active:hover {
  color: @fg_color;
  -unico-bullet-color: @fg_color;
}

.menuitem GtkCalendar,
.menuitem GtkCalendar.button,
.menuitem GtkCalendar.header,
.menuitem GtkCalendar.view {
  background-color: @bg_color;
  background-image: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  padding: 0;

  color: @fg_color;
}

.menuitem GtkCalendar {
  background-color: shade (@bg_color, 1.3);
  background-image: none;
}

.menuitem .entry {
  background-color: shade (@bg_color, 1.3);
  background-image: none;

  color: @fg_color;

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.75)),
    to (shade (@bg_color, 0.9)));
  -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.98)),
    to (shade (@bg_color, 1.1)));
}

.menuitem GtkScale.trough {
  background-color: @bg_color;
  background-image: none;

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.75)),
    to (shade (@bg_color, 1.15)));
}

.menuitem .accelerator {
  color: alpha (@fg_color, 0.6);
}

.menuitem .accelerator:hover {
  color: alpha (@fg_color, 0.8);
}

.menuitem .accelerator:insensitive {
  color: alpha (@fg_color, 0.4);
  text-shadow: none;
}










/************
 * notebook *
 ************/
.notebook {
  background-color: shade (@bg_color, 1.1);
  background-image: none;
  border-radius: 2;
  padding: 2;

  -unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.3);
  -unico-inner-stroke-gradient: none;
}

.notebook tab {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.99)),
    to (shade (@bg_color, 0.92)));
  padding: 2 2 0 2;

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.89)),
    to (shade (@bg_color, 0.80)));
  -unico-inner-stroke-color: alpha (shade (@bg_color, 1.15), 0.34);
  -unico-inner-stroke-gradient: none;
  -unico-inner-stroke-width: 1;
  -unico-outer-stroke-color: @transparent;
  -unico-outer-stroke-gradient: none;
  -unico-outer-stroke-width: 1;
}

.notebook tab:active {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 1.12)),
    to (shade (@bg_color, 1.1)));

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.7)),
    to (shade (@bg_color, 0.7)));
  -unico-inner-stroke-color: alpha (shade (@bg_color, 1.28), 0.34);
}

.notebook tab .button {
  padding: 0;
}

/******************
 * pane separator *
 ******************/
.sidebar .pane-separator,
.pane-separator {
  background-color: @transparent;
  border-color: shade (@bg_color, 0.84);

  -unico-border-gradient: none;
  -unico-inner-stroke-color: shade (@bg_color, 1.1);
  -unico-inner-stroke-gradient: none;
  -unico-inner-stroke-width: 1;
}

/*************************
 * progressbar and scale *
 *************************/
GtkScale,
GtkProgressBar {
  border-radius: 0;
  border-width: 1;
  padding: 0;
}

.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focused {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@progressbar_bg_color, 0.95)),
    to (shade (@progressbar_bg_color, 1.1)));
  border-width: 1;
  border-color: shade (@selected_bg_color, 0.8);

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@progressbar_bg_color, 0.8)),
    to (shade (@progressbar_bg_color, 0.8)));
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@progressbar_bg_color, 1.1)),
    to (shade (@progressbar_bg_color, 1.2)));
  -unico-inner-stroke-width: 1 1 0 1;
  -unico-outer-stroke-color: @transparent;
  -unico-outer-stroke-width: 0;
}

.progressbar.vertical,
.progressbar.vertical row,
.progressbar.vertical row:hover,
.progressbar.vertical row:selected,
.progressbar.vertical row:selected:focused {
  background-image: -gtk-gradient (linear, left top, right top,
    from (shade (@progressbar_bg_color, 0.95)),
    to (shade (@progressbar_bg_color, 1.1)));
  border-width: 1;
  border-color: shade (@selected_bg_color, 0.8);

  -unico-border-gradient: -gtk-gradient (linear, left top, right top,
    from (shade (@progressbar_bg_color, 0.8)),
    to (shade (@progressbar_bg_color, 0.8)));
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, right top,
    from (shade (@progressbar_bg_color, 1.1)),
    to (shade (@progressbar_bg_color, 1.2)));
  -unico-inner-stroke-width: 1 0 1 1;
  -unico-outer-stroke-color: @transparent;
  -unico-outer-stroke-width: 0;
}





.trough,
.trough row,
.trough row:hover,
.trough row:selected,
.trough row:selected:focused {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.9)),
    to (shade (@bg_color, 0.98)));

  border-width: 1;
  border-style: solid;
  border-radius: 0;
  border-color: shade (@bg_color, 0.8);
  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.74)),
    to (shade (@bg_color, 0.8)));
  -unico-outer-stroke-width: 0;
}

.trough.vertical {
  background-image: -gtk-gradient (linear, left top, right top,
    from (shade (@bg_color, 0.9)),
    to (shade (@bg_color, 0.98)));

  border-width: 1;
  border-style: solid;
  border-radius: 0;
  border-color: shade (@bg_color, 0.8);
  -unico-border-gradient: -gtk-gradient (linear, left top, right top,
    from (shade (@bg_color, 0.74)),
    to (shade (@bg_color, 0.8)));
  -unico-outer-stroke-width: 0;
}

GtkScale.trough, 
GtkScale.trough.vertical {
  border-radius: 8;
}


GtkScale {
  -GtkRange-slider-width: 14;
  -GtkRange-trough-border: 1;
  -GtkScale-slider-length: 14;
  
  border-style: solid;
  border-width: 1;
  border-radius: 8;

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.8)),
    to (shade (@bg_color, 0.8)));
  -unico-glow-radius: 0;
  -unico-inner-stroke-width: 1;
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (alpha (shade (@bg_color, 0.6), 0.2)),
    to (alpha (@bg_color, 0.0)));
}

GtkScale.vertical {
  -unico-inner-stroke-width: 1;
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, right top,
    from (alpha (shade (@bg_color, 0.6), 0.2)),
    to (alpha (@bg_color, 0.0)));
}

GtkScale.mark {
  border-color: shade (@bg_color, 0.8);
}

/*************
 * scrollbar *
 *************/

.scrollbar {
  background-image: none;
  border-style: solid;
  -GtkRange-trough-border: 1;
  -GtkRange-arrow-scaling: 0.444;
  -GtkRange-slider-width: 11;
  -GtkRange-stepper-size: 0;
  -GtkScrollbar-min-slider-length: 30;
  -GtkRange-stepper-spacing: 0;
  -GtkRange-trough-under-steppers: 1;
}

/* Through */
.scrollbar.trough.vertical {
  background-image: -gtk-gradient (linear, left top, right top,
    from (shade (@scrollbar_bg_color, 0.98)),
    to (shade (@scrollbar_bg_color, 1.06)));
  border-radius: 0;
  border-width: 0 0 0 1;
  border-style: solid;
  border-color: shade (@bg_color, 0.96);
  -unico-border-gradient: -gtk-gradient (linear, left top, right top,
    from (shade (@scrollbar_bg_color, 0.96)),
    to (shade (@scrollbar_bg_color, 0.96)));
  -unico-inner-stroke-width: 0;
}

.scrollbar.trough.horizontal {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@scrollbar_bg_color, 0.98)),
    to (shade (@scrollbar_bg_color, 1.06)));
  border-radius: 0;
  border-width: 1 0 0 0;
  border-style: solid;
  border-color: shade (@bg_color, 0.96);
  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.96)),
    to (shade (@bg_color, 0.96)));
}

/* ------------------------------------------------------------------------------------------- */
/* Sliders and buttons */
.scrollbar.slider.vertical,
.scrollbar.button.vertical {
  background-image: -gtk-gradient (linear, left top, right top,
    from (shade (@scrollbar_bg_color, 0.95)),
    to (shade (@scrollbar_bg_color, 0.8)));
  border-color: shade (@bg_color, 0.65);
  border-radius: 10;
  border-width: 1;
}

.scrollbar.slider.vertical:prelight {
  background-image: -gtk-gradient (linear, left top, right top,
    from (shade (@scrollbar_bg_color, 0.85)),
    to (shade (@scrollbar_bg_color, 0.7)));
  border-color: shade (@bg_color, 0.6);
}

.scrollbar.slider.vertical:prelight:active {
  background-image: -gtk-gradient (linear, left top, right top,
    from (shade (@scrollbar_bg_color, 0.85)),
    to (shade (@scrollbar_bg_color, 0.7)));
  border-color: shade (@bg_color, 0.6);
}

.scrollbar.slider.horizontal,
.scrollbar.button.horizontal {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@scrollbar_bg_color, 0.95)),
    to (shade (@scrollbar_bg_color, 0.8)));
  border-color: shade (@bg_color, 0.65);
  border-radius: 10;
  border-width: 1;
}

.scrollbar.slider.horizontal:prelight {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@scrollbar_bg_color, 0.85)),
    to (shade (@scrollbar_bg_color, 0.7)));
  border-color: shade (@bg_color, 0.6);
}

.scrollbar.slider.horizontal:prelight:active {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@scrollbar_bg_color, 0.85)),
    to (shade (@scrollbar_bg_color, 0.7)));
  border-color: shade (@bg_color, 0.6);
}

.scrollbar.slider:insensitive {
  background-color: shade (@scrollbar_bg_color, 0.9);
}

.scrollbar.trough:insensitive {
  background-color: shade (@scrollbar_bg_color, 1.06);
}

/* ------------------------------------------------------------------------------------------- */


/* overlay scrollbar */
OsThumb:selected,
OsScrollbar:selected {
  background-color: @selected_bg_color;
}

OsThumb:active,
OsScrollbar:active {
  background-color: shade (@bg_color, 0.6);
}

OsThumb:insensitive,
OsScrollbar:insensitive {
  background-color: shade (@bg_color, 0.85);
}

/*******************
 * scrolled window *
 *******************/
GtkScrolledWindow.frame {
  border-top-color: shade (@bg_color, 0.84);
  border-right-color: shade (@bg_color, 0.76);
  border-bottom-color: shade (@bg_color, 0.86);
  border-left-color: shade (@bg_color, 0.76);
  border-radius: 0;
  border-style: solid;

  -unico-border-gradient: none;
  -unico-inner-stroke-width: 0;
  -unico-outer-stroke-width: 0;
}

/*************
 * separator *
 *************/
.separator {
  border-color: shade (@bg_color, 0.86);
  border-style: solid;

  -unico-border-gradient: none;
  -unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.6);
}

.button .separator,
.button.separator {
  border-color: shade (@button_bg_color, 0.84);

  -unico-inner-stroke-color: alpha (shade (@button_bg_color, 1.26), 0.5);
}

.notebook .button .separator,
.notebook .button.separator {
  border-color: shade (@bg_color, 0.9);

  -unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.6);
}

.button .separator:insensitive,
.button.separator:insensitive {
  border-color: shade (@button_insensitive_bg_color, 0.9);

  -unico-inner-stroke-color: alpha (shade (@button_insensitive_bg_color, 1.26), 0.6);
}

.notebook .button .separator,
.notebook .button.separator {
  border-color: shade (@bg_color, 0.84);

  -unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.5);
}

.menuitem.separator {
  -GtkMenuItem-horizontal-padding: 0;
  border-color: shade (@bg_color, 0.96);
  -unico-inner-stroke-color: alpha (shade (@dark_bg_color, 1.26), 0.5);
}

/***********
 * sidebar *
 ***********/
.sidebar,
.sidebar .view {
}

.sidebar row:selected {
  text-shadow: 0 1 shade (@selected_bg_color, 0.7);
}

.sidebar row:hover {
  background-color: alpha (@bg_color, 0.0);
}

.sidebar .frame {
  border-width: 0;
}

/**************
 * spinbutton *
 **************/
.spinbutton.button:active,
.spinbutton.button:insensitive,
.notebook .spinbutton.button:active,
.notebook .spinbutton.button:insensitive,
.spinbutton.button,
.notebook .spinbutton.button {
  -unico-outer-stroke-width: 1 1 1 0;
}

.spinbutton.button,
.notebook .spinbutton.button {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@button_bg_color, 1.1)),
    to (shade (@button_bg_color, 0.95)));

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.65)),
    to (shade (@bg_color, 0.7)));
}

.spinbutton,
.spinbutton:hover {
  color: @fg_color;
}

/***********
 * spinner *
 ***********/
.menu.spinner,
.primary-toolbar .toolbar .spinner,
.primary-toolbar.toolbar .spinner {
  color: @selected_bg_color;
}

/*************
 * statusbar *
 *************/
GtkStatusbar {
}

/**********
 * switch *
 **********/
GtkSwitch {
  border-radius: 0;
  padding: 0;

  -unico-focus-border-radius: 4;
  -unico-focus-border-color: alpha (@selected_bg_color, 0.3);
  -unico-focus-fill-color: @transparent;
}

GtkSwitch.trough {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.9)),
    to (shade (@bg_color, 0.98)));

  color: @fg_color;
  text-shadow: 0 1 alpha (shade (@bg_color, 1.25), 0.5);

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.74)),
    to (shade (@bg_color, 0.8)));
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.88)),
    to (shade (@bg_color, 0.96)));
  -unico-inner-stroke-width: 1;
}

GtkSwitch.trough:active {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@selected_bg_color, 0.93)),
    to (shade (@selected_bg_color, 0.99)));

  color: @selected_fg_color;
  text-shadow: 0 -1 shade (@selected_bg_color, 0.7);

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@selected_bg_color, 0.7)),
    to (shade (@selected_bg_color, 0.76)));
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@selected_bg_color, 0.86)),
    to (shade (@selected_bg_color, 0.94)));
}

GtkSwitch.trough:insensitive {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.93)),
    to (shade (@bg_color, 0.99)));

  color: shade (@bg_color, 0.6);
  text-shadow: 0 1 alpha (shade (@bg_color, 1.25), 0.5);

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.7)),
    to (shade (@bg_color, 0.75)));
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.88)),
    to (shade (@bg_color, 0.965)));
}

GtkSwitch.slider {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@button_bg_color, 1.1)),
    to (shade (@button_bg_color, 0.95)));

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.7)),
    to (shade (@bg_color, 0.6)));
  -unico-inner-stroke-color: shade (@bg_color, 1.9);
  -unico-inner-stroke-width: 1 1 0 1;
  -unico-outer-stroke-width: 0;  
}

GtkSwitch.slider:insensitive {
  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.7)),
    to (shade (@bg_color, 0.75)));
}

/***********
 * toolbar *
 ***********/
.toolbar {
  border-style: none;
}

/* primary-toolbar */
.primary-toolbar .toolbar,
.primary-toolbar.toolbar {
  -GtkWidget-window-dragging: true;

  background-image: -gtk-gradient (linear, left top, left bottom,
    from (@toolbar_gradient_base),
    to (@toolbar_gradient_final));
  border-color: shade (@toolbar_border, 1.0);
  border-style: solid;
  border-width: 0 0 1 0;
  padding: 2;

  color: @fg_color;
  text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);

  -unico-border-gradient: none;
  -unico-inner-stroke-width: 0;
}

.primary-toolbar .toolbar :insensitive,
.primary-toolbar.toolbar :insensitive {
  text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);
}

.primary-toolbar .toolbar GtkComboBox,
.primary-toolbar.toolbar GtkComboBox,
.primary-toolbar .toolbar .button,
.primary-toolbar.toolbar .button {
  background-color: @transparent;
  background-image: none;
  border-radius: 2;
  border-width: 0;

  color: @fg_color;
  text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);
  transition: none;

  -unico-focus-border-radius: 2;
  -unico-focus-border-color: alpha (@selected_bg_color, 0.5);
  -unico-focus-fill-color: alpha (@selected_bg_color, 0.2);
  -unico-focus-outer-stroke-color: @transparent;

  -unico-inner-stroke-width: 0;
  -unico-outer-stroke-width: 0;
}

.primary-toolbar .toolbar .raised .button,
.primary-toolbar.toolbar .raised .button,
.primary-toolbar .toolbar .raised.button,
.primary-toolbar.toolbar .raised.button,
.primary-toolbar .toolbar .button:hover,
.primary-toolbar.toolbar .button:hover,
.primary-toolbar .toolbar .button:active,
.primary-toolbar.toolbar .button:active,
.primary-toolbar .toolbar .button:insensitive,
.primary-toolbar.toolbar .button:insensitive {
  border-width: 1;

  -unico-focus-border-radius: 2;
  -unico-focus-fill-color: @transparent;
  -unico-focus-border-color: @transparent;
  -unico-focus-outer-stroke-color: alpha (@selected_bg_color, 0.5);

  -unico-inner-stroke-width: 1;
  -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (alpha (shade (@bg_color, 0.05), 0.05)),
    to (alpha (shade (@bg_color, 0.05), 0.09)));
  -unico-outer-stroke-width: 1;
  color: @fg_color;
}

.primary-toolbar GtkComboBox.combobox-entry .button {
  -unico-inner-stroke-width: 1;
  -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (alpha (shade (@bg_color, 1.2), 0.25)),
    to (alpha (shade (@bg_color, 1.4), 0.75)));
}

.primary-toolbar GtkComboBox.combobox-entry .button,
.primary-toolbar .toolbar .raised .button,
.primary-toolbar.toolbar .raised .button,
.primary-toolbar .toolbar .raised.button,
.primary-toolbar.toolbar .raised.button,
.primary-toolbar .toolbar .button:hover,
.primary-toolbar.toolbar .button:hover {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@button_bg_color, 1.1)),
    to (shade (@button_bg_color, 0.95)));
  border-style: solid;
  text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);
  -unico-glow-radius: 0;
  -unico-inner-stroke-width: 1 1 0 1;
  -unico-outer-stroke-width: 1;
  color: @fg_color;
}

.primary-toolbar .toolbar .raised .button:hover,
.primary-toolbar.toolbar .raised .button:hover,
.primary-toolbar .toolbar .raised.button:hover,
.primary-toolbar.toolbar .raised.button:hover {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@button_bg_color, 1.2)),
    to (shade (@button_bg_color, 1.04)));
}

.primary-toolbar .toolbar raised.button:active,
.primary-toolbar.toolbar raised.button:active,
.primary-toolbar .toolbar .button:active,
.primary-toolbar.toolbar .button:active {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.9)),
    to (shade (@bg_color, 0.85)));
  color: @fg_color;

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.6)),
    to (shade (@bg_color, 0.6)));
  -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (alpha (@button_bg_color, 0.0)),
    to (shade (@button_bg_color, 1.02)));
  -unico-glow-radius: 0;
  -unico-inner-stroke-color: shade (@bg_color, 0.8);
  -unico-inner-stroke-width: 1 1 0 1;
  -unico-outer-stroke-width: 1;
  -unico-focus-outer-stroke-color: @transparent;

}

.primary-toolbar .toolbar .button:active:hover,
.primary-toolbar.toolbar .button:active:hover {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.95)),
    to (shade (@bg_color, 0.9)));
  color: @fg_color;

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.6)),
    to (shade (@bg_color, 0.6)));
  -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (alpha (@button_bg_color, 0.0)),
    to (shade (@button_bg_color, 1.02)));
  -unico-inner-stroke-color: shade (@bg_color, 0.85);
  -unico-inner-stroke-width: 1 1 0 1;
  -unico-outer-stroke-width: 1;
  -unico-focus-outer-stroke-color: @transparent;
}

.primary-toolbar .toolbar .button:active:insensitive,
.primary-toolbar.toolbar .button:active:insensitive,
.primary-toolbar .toolbar .button:insensitive,
.primary-toolbar.toolbar .button:insensitive {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@button_insensitive_bg_color, 1.04)),
    to (shade (@button_insensitive_bg_color, 0.96)));

  text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@button_insensitive_bg_color, 0.8)),
    to (shade (@button_insensitive_bg_color, 0.8)));
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@button_insensitive_bg_color, 1.08)),
    to (shade (@button_insensitive_bg_color, 1.0)));
}

.primary-toolbar .toolbar .button:insensitive,
.primary-toolbar.toolbar .button:insensitive {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (alpha (@button_insensitive_bg_color, 0.00)),
    to (alpha (@button_insensitive_bg_color, 0.00)));

  text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);

  border-width: 0;
  -unico-inner-stroke-width: 0;
  -unico-outer-stroke-width: 0;
  -unico-border-gradient: none;
  -unico-inner-stroke-gradient: none;
}

.primary-toolbar .toolbar .button:active:insensitive,
.primary-toolbar.toolbar .button:active:insensitive {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@button_insensitive_bg_color, 1.0)),
    to (shade (@button_insensitive_bg_color, 0.97)));

  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@button_insensitive_bg_color, 0.95)),
    to (shade (@button_insensitive_bg_color, 0.98)));
  -unico-inner-stroke-width: 1 1 0 1;
  -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (alpha (@button_bg_color, 0.0)),
    to (shade (@button_bg_color, 1.02)));
  -unico-outer-stroke-width: 1;
  border-width: 1;
  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@button_insensitive_bg_color, 0.7)),
    to (shade (@button_insensitive_bg_color, 0.8)));
}

.primary-toolbar .toolbar .entry,
.primary-toolbar.toolbar .entry,
.primary-toolbar .toolbar .entry:active,
.primary-toolbar.toolbar .entry:active,
.primary-toolbar .toolbar .entry:focused,
.primary-toolbar.toolbar .entry:focused {
  border-radius: 2;

  color: @text_color;

  -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (alpha (shade (@bg_color, 0.85), 0.2)),
    to (alpha (shade (@bg_color, 1.18), 0.6)));
  -unico-outer-stroke-width: 0;
}

.primary-toolbar .toolbar .entry,
.primary-toolbar.toolbar .entry {
  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.75)),
    to (shade (@bg_color, 0.95)));
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (alpha (shade (@bg_color, 0.05), 0.16)),
    to (alpha (shade (@bg_color, 0.05), 0.08)));
}

.primary-toolbar .toolbar .entry:insensitive,
.primary-toolbar.toolbar .entry:insensitive {
  -unico-outer-stroke-width: 1;
  -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (alpha (shade (@bg_color, 1.2), 0.18)),
    to (alpha (shade (@bg_color, 1.4), 0.5)));
}

.primary-toolbar .toolbar .entry:focused,
.primary-toolbar.toolbar .entry:focused {
  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@selected_bg_color, 0.75)),
    to (shade (@selected_bg_color, 0.8)));
  -unico-inner-stroke-color: alpha (@selected_bg_color, 0.2);
  -unico-inner-stroke-gradient: none;
}

.primary-toolbar .toolbar GtkSeparatorToolItem,
.primary-toolbar.toolbar GtkSeparatorToolItem,
.primary-toolbar .toolbar .separator,
.primary-toolbar.toolbar .separator,
.primary-toolbar .toolbar .separator:insensitive,
.primary-toolbar.toolbar .separator:insensitive {
  border-color: alpha (shade (@bg_color, 0.94), 0.0);
  border-style: solid;

  -unico-border-gradient: none;
  -unico-inner-stroke-color: alpha (shade (@bg_color, 1.5), 0.0);
  -unico-inner-stroke-gradient: none;
}

/* inline-toolbar */
.inline-toolbar.toolbar {
  -GtkToolbar-button-relief: normal;

  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@base_color, 0.93)),
    to (shade (@base_color, 0.93)));
  border-radius: 0;
  border-style: solid;
  border-width: 1;
  padding: 3 4 4 4;
}

.inline-toolbar.toolbar:nth-child(last) {
  border-bottom-color: shade (@bg_color, 0.76);
  border-color: shade (@bg_color, 0.8);
  border-radius: 0;
  border-width: 0 1 1 1;
}

.inline-toolbar.toolbar .button {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 1.12)),
    to (shade (@bg_color, 0.88)));
  border-radius: 0;
  border-style: solid;
  border-width: 1 0 1 1;
  padding: 1;

  icon-shadow: 0 1 shade (@bg_color, 1.16);

  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 1.16)),
    to (shade (@bg_color, 0.98)));
  -unico-outer-stroke-width: 1 0 1 0;
}

.inline-toolbar.toolbar .button *:active,
.inline-toolbar.toolbar .button *:insensitive,
.inline-toolbar.toolbar GtkToolButton .button:active,
.inline-toolbar.toolbar GtkToolButton .button:insensitive {
  -unico-outer-stroke-width: 1 0 1 0;
  -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (alpha (shade (@bg_color, 0.05), 0.02)),
    to (alpha (shade (@bg_color, 0.05), 0.06)));
}

.inline-toolbar.toolbar .button *:insensitive,
.inline-toolbar.toolbar GtkToolButton .button:insensitive {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 1.02)),
    to (shade (@bg_color, 0.98)));

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 0.85)),
    to (shade (@bg_color, 0.8)));
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@bg_color, 1.16)),
    to (shade (@bg_color, 1.0)));
}

.inline-toolbar.toolbar .button:nth-child(first),
.inline-toolbar.toolbar GtkToolButton:nth-child(first) .button {
  border-radius: 2 0 0 2;

  -unico-outer-stroke-width: 1 0 1 1;
}

.inline-toolbar.toolbar .button:nth-child(last),
.inline-toolbar.toolbar GtkToolButton:nth-child(last) .button {
  border-radius: 0 2 2 0;
  border-width: 1;

  -unico-outer-stroke-width: 1 1 1 0;
}

/***********
 * tooltip *
 ***********/
.tooltip {
  border-color: shade (@tooltip_bg_color, 0.7);
}

/************
 * treeview *
 ************/
GtkTreeView .entry {
  background-image: none;
  border-radius: 0;

  -unico-inner-stroke-gradient: none;
  -unico-inner-stroke-width: 1;
}

GtkTreeView row:nth-child(even),
GtkTreeView row:nth-child(even):hover {
  background-color: shade (@base_color, 1.0);
}

GtkTreeView row:nth-child(odd),
GtkTreeView row:nth-child(odd):hover {
  background-color: shade (@base_color, 0.97);
}

/************
 * viewport *
 ************/
GtkViewport.frame {
  border-width: 0;

  -unico-inner-stroke-width: 0;
}
/* Fallback Mode Panel */
PanelWidget,
PanelApplet,
PanelToplevel {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@dark_bg_color, 1.0)),
    to (shade (@dark_bg_color, 1.0)));
  padding: 0;
  text-shadow: none;
  color: @selected_fg_color;
  border-width: 0;
}

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar,
PanelApplet > GtkMenuBar.menubar.menuitem,
PanelMenuBar.menubar,
PanelMenuBar.menubar.menuitem {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@dark_bg_color, 1.0)),
    to (shade (@dark_bg_color, 1.0)));
  text-shadow: none;
  color: @selected_fg_color;
  border-width: 0;
}

PanelAppletFrame { 
  background-color: @dark_bg_color;
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@dark_bg_color, 1.0)),
    to (shade (@dark_bg_color, 1.0)));
  text-shadow: none;
  color: @selected_fg_color;
  border-width: 0;
}

.gnome-panel-menu-bar {
  -PanelMenuBar-icon-visible: true;
}

.gnome-panel-menu-bar .menuitem {
  color: @selected_fg_color;
  text-shadow: none;
}

.gnome-panel-menu-bar .menuitem:prelight {
  background-color: @dark_bg_color;
  color: @selected_fg_color;
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@dark_bg_color, 0.85)),
    to (shade (@dark_bg_color, 1.0))); 
  border-color: shade (@dark_bg_color, 0.78);
  border-radius: 0;
  border-width: 0 1 0 1;
}

.gnome-panel-menu-bar .menuitem *:prelight {
  color: @selected_fg_color;
  text-shadow: none;
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@dark_bg_color, 0.85)),
    to (shade (@dark_bg_color, 1.0))); 
  border-color: shade (@dark_bg_color, 0.78);
  border-radius: 0;
  border-width: 0 1 0 1;
}

PanelApplet .button {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@dark_bg_color, 1.5)),
    to (shade (@dark_bg_color, 1.05)));
  border-color: shade (@dark_bg_color, 0.78);
  border-radius: 0;
  border-width: 0;
  text-shadow: none;

  -unico-border-gradient: none;
  -unico-glow-radius: 0;
  -unico-inner-stroke-width: 0;
  -unico-outer-stroke-width: 0;
  color: @selected_fg_color;
}

PanelApplet .button:prelight:active,
PanelApplet .button:active {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@dark_bg_color, 0.85)),
    to (shade (@dark_bg_color, 1.0))); 
  border-color: shade (@dark_bg_color, 0.78);
  border-radius: 0;
  border-width: 0 1 0 1;

  -unico-border-gradient: none;
  -unico-glow-radius: 0;
  -unico-inner-stroke-width: 0;
  -unico-outer-stroke-width: 0;
  color: @selected_fg_color;
  text-shadow: none;
}

PanelApplet .button:prelight {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@dark_bg_color, 1.7)),
    to (shade (@dark_bg_color, 1.25)));
  border-color: shade (@dark_bg_color, 0.78);
  border-radius: 0;
  border-width: 0 1 0 1;

  -unico-border-gradient: none;
  -unico-glow-radius: 0;
  -unico-inner-stroke-width: 0;
  -unico-outer-stroke-width: 0;
  color: @selected_fg_color;
  text-shadow: none;
}

ClockBox {
  color: @selected_fg_color;
  text-shadow: none;
  border-width: 0;
}

WnckPager, WnckTasklist {
  background-color: @dark_bg_color;
  color: @selected_fg_color;
  text-shadow: none;
}

NaTrayApplet {
  -NaTrayApplet-icon-padding: 2;
  -NaTrayApplet-icon-size: 16;
  color: @selected_fg_color;
  border-width: 0;
}

GsmFailWhaleDialog {
  background-color: @dark_bg_color;
  background-image: none;
  color: @selected_fg_color;
}

GsmFailWhaleDialog * {
  background-color: @dark_bg_color;
  background-image: none;
}
ApDocView, /* Abiword */
EogScrollView, /* Eog */
CheeseThumbView /* Cheese */
{
  background-color: @dark_bg_color;
  -EogScrollView-shadow-type: none;
}

/* gnome-terminal */
TerminalScreen {
  background-color: @base_color;
  color: @fg_color;
  -TerminalScreen-background-darkness: 0.95;
}
NautilusWindow * {
  -GtkPaned-handle-size: 0;
}

/* desktop mode */
.nautilus-desktop.nautilus-canvas-item {
  color: @bg_color;
  text-shadow: 1 1 alpha (#000000, 0.8);
}

.nautilus-desktop.nautilus-canvas-item:active {
  background-image: none;
  background-color: alpha (@bg_color, 0.84);
  border-radius: 2;

  color: @fg_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
  background-image: none;
  background-color: alpha (@selected_bg_color, 0.84);
  border-radius: 2;

  color: @selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
  text-shadow: none;
}

/* browser window */
NautilusTrashBar.info,
NautilusXContentBar.info,
NautilusSearchBar.info,
NautilusQueryEditor.info {
  /* this background-color controls the symbolic icon in the entry */
  background-color: mix (@fg_color, @base_color, 0.3);
  border-radius: 0;
  border-style: solid;
  border-width: 0 1 1 1;
}

NautilusSearchBar .entry {
}

.nautilus-cluebar-label {
  color: @fg_color;
  font: bold;
}

#nautilus-search-button *:active,
#nautilus-search-button *:active:prelight {
  color: @fg_color;
}

NautilusFloatingBar {
  background-color: @info_bg_color;
  border-radius: 2 2 0 0;
  border-style: solid;
  border-width: 1;
  border-color: darker (@info_bg_color);

  -unico-border-gradient: none;
}

NautilusFloatingBar .button {
  background-color: alpha (@base_color, 0.0);
  background-image: none;

  border-style: none;
  border-image: none;

  -GtkButton-image-spacing: 0;
  -GtkButton-inner-border: 0;
}

/* sidebar */
NautilusWindow .sidebar,
NautilusWindow .sidebar .view {
  background-color: @bg_color;
  color: @fg_color;
}

NautilusWindow .sidebar .frame {
  border-width: 0 1 0 1;
  border-style: solid;
  border-color: shade (@toolbar_border, 1.0);
  border-left-color: @transparent;
  border-radius: 0;
}

NautilusWindow > GtkTable > .pane-separator {
}
UnityPanelWidget,
.unity-panel {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@dark_bg_color, 1.5)),
    to (shade (@dark_bg_color, 1.04)));
  border-top-color: shade (@dark_bg_color, 1.6);
  border-style: solid;
  border-width: 1 0 0 0;

  -unico-border-gradient: none;
}

.unity-panel.menubar,
.unity-panel .menubar {
  color: #fff;
}

.unity-panel.menuitem,
.unity-panel .menuitem {
  border-width: 1 1 0 1;
  icon-shadow: 0 -1 shade (@dark_bg_color, 0.7);
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
  background-image: -gtk-gradient (linear, left top, left bottom,
    from (shade (@dark_bg_color, 1.7)),
    to (shade (@dark_bg_color, 1.12)));

  color: #fff;

  -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@dark_bg_color, 1.08)),
    to (shade (@dark_bg_color, 0.98)));
  -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
    from (shade (@dark_bg_color, 1.8)),
    to (shade (@dark_bg_color, 1.2)));
}
